.li {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border: 2px solid;
}

.btnTask {
    cursor: pointer;
}

.taskInput {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius:10px;
    margin-bottom: 20px;
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }